{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
       <title>Registro de Usuario</title>
       <script src="{% static 'assets/js/jquery-1.8.2.min.js' %}"></script>
        <script src="{% static 'assets/js/supersized.3.2.7.min.js' %}"></script>
        <script src="{% static 'assets/js/supersized-init.js' %}"></script>
        <script src="{% static 'assets/js/scripts.js' %}"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div class="section no-pad-bot card-panel red accent-1">
            <div class="container">
                <h3 class="header center white-text">Ingresa tus Datos</h3>
                <!--Formulario-->
                <div class="row card-panel  white">
                    <form action="#" method="post" class="col s12">
                        <!--separa en dos columnas-->
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Aqui va tu nombre" type="text" class="validate " name="nombre" required>
                                <label class="active" for="first_name">Nombre</label>
                            </div>
                            <div  class="input-field col s6">
                                <input placeholder="Aqui va tu apellido" type="text" class="validate " name="apellido" required>
                                <label class="active" for="first_name">Apellido</label>
                            </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s6 center">
                                <input placeholder="Edad" type="number" class="validate " name="edad" required>
                                <label class="active" for="first_name">Edad</label>
                            </div>
                            <div class="input-field col s6 center">
                                <input placeholder="Escribe un nombre de Usuario" type="text" class="validate " name="usuario" required>
                                <label class="active" for="first_name">Usuario</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 center">
                                <input placeholder="Escribe una contraseña " type="password" class="validate " name="pass1" required>
                                <label class="active" for="first_name">Contraseña</label>
                            </div>
                            <div class="input-field col s6 center">
                                <input placeholder="Verifica la contraseña " type="password" class="validate " name="pass2" required>
                                <label class="active" for="first_name">Verifica la contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label class="active">Pais</label><br>
                                    <select class="browser-default">
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                    </select>
                            </div>
                            <div class="input-field col s6">
                                <label class="active">Ciudad</label><br>
                                    <select class="browser-default">
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                    </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">	
                                 <input type="date" class="datepicker">
                                <label class="active" for="first_name">Fecha de Deteccion de Cancer</label>
                            </div>
                            <div class="input-field col s6">	
                                <input placeholder="ejemplo@hotmail.com" type="email" class="validate " name="mail" required>
                                <label class="active" for="first_name">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                          <button class="btn waves-effect waves-light deep-orange lighten-3" type="submit" name="action">Registrarse
                          </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    </body>
</html>